            <section class="skills-section section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.skills.icon }}"></i>Skills</h2>
                <div class="skillset">
				{{ range .Site.Params.skills.list }}
                    <div class="item">
                        <h3 class="level-title">{{ .skill }}</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="{{ .level }}">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                {{ end }}
                <br>
                <div class="skillset">
                  <h3 class="level-title">OTHER:</h3>
                  <h5 class="meta">
                    
                    {{$list := .Site.Params.skills.other}}
                    {{$len := (len $list)}}
                    
                    {{ range $index, $element := $list }}
                      {{ if eq (add $index 1) $len }}
                       {{.skill}}
                      {{ else }}
                       {{ .skill }},
                      {{end}}
                    {{ end }}
                  </h5>
                </div>
                </div>
            </section><!--//skills-section-->
