version: '2'
services:
  ## Splash page (hugo)
  splash:
    image: jhginn/rhugo:latest
    command: ["R", "-e", "setwd('/root/blog'); blogdown::serve_site(host = '0.0.0.0', port = 8000)"]
    volumes:
     - ./splash:/root/blog
    restart: always
    ports:
      - "8000:8000"
  ## Online resume (hugo)
  cv: 
    image: jhginn/rhugo:latest
    command: ["R", "-e", "setwd('/root/blog'); blogdown::serve_site(host = '0.0.0.0', port = 8001)"]
    volumes:
     - ./cv:/root/blog
    restart: always
    expose:
     - "8001"
    ports:
     - "8001:8001"
  ## blog (hugo)
  blog: 
    image: jhginn/rhugo:latest
    command: ["R", "-e", "setwd('/root/blog'); blogdown::serve_site(host = '0.0.0.0', port = 8002)"]
    volumes:
     - ./blog:/root/blog
    restart: always
    expose:
     - "8002"
    ports:
     - "8002:8002"
  ## Nginx
  nginx:
    image: nginx:1.9
    ports:
     - "80:80"
    volumes:
     - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: always
    depends_on:
     - splash
     - cv
     - blog
    links:
     - splash
     - cv
     - blog
